body {
    @include scrollbars(8px, rgb(209, 209, 209), rgb(238, 238, 238));
    overflow-x: hidden;
    transition: opacity 0.3s ease;
    opacity: 0;
    font-family: $font-mulish;
    background: $body-fundo;


    &.dcl {
        opacity: 1;
    }

    &.dark__mode {
        svg {
            path {
                stroke: white;
            }
        }
    }

    button.dark__mode {
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 10000;
        color: $preto;
        transition-delay: .3s;
        transition: .5s ease;

        ion-icon {
            font-size: 24px;

        }
    }

    &.dark__mode {
        button.dark__mode {
            color: white;
        }
    }

    &.desceu.ativo__scroll {
        button.dark__mode {
            transform: translateY(100px);
        }
    }
}