@include menu-subpages;

.intro {
    @include intro-pages
}


.filtro {
    padding: 15px 0;
    margin-bottom: 30px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .select__container,
    .input__container {
        position: relative;
    }

    select,
    input {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
        -webkit-appearance: none;
        appearance: none;
        color: $font-claro;
        top: 0;
        bottom: 0;
        margin: auto 0;
    }

    select {
        padding-left: 40px;

    }

    .select__container {
        width: 250px;
        height: 50px;
        padding: 10px;
        background: $white-mode;
        border-right: 1px solid $branco-claro;

        &:after {
            @include pseudo(absolute);
            background-image: url(../img/down-select.svg);
            left: 10px;
            top: -3px;
            bottom: 0;
            margin: auto 0;
            width: 20px;
            height: 15px;
        }
    }

    .input__container {
        width: 300px;
        height: 50px;
        background: $white-mode;
        padding-left: 20px;

        @include d(m) {
            border-radius: 5px 0 0 5px;
            border: 1px solid $cor-suporte;
        }


    }

    .select__container {
        @include d(m) {
            display: none;
        }
    }

    .select__border {
        border-radius: 5px 0 0 5px;
    }

    .btn__container {

        button,
        input {
            height: 50px;
            text-align: center;
            width: 120px;
            background: $cinza-base;
            border-radius: 0 4px 4px 0;
            font-weight: 700;
            font-family: 'Mulish';
            text-transform: uppercase;
            color: $white;
            letter-spacing: .5px;
            cursor: pointer;

            &:hover {
                background-color: $cor-base;
            }
        }
    }


}



//resultados da busca
.result {
    background: $branco-claro;

    >.container {
        max-width: 920px;
    }

    &__wrapper {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include d(s) {
            flex-direction: column;
            align-items: center;
        }

        >a {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            cursor: pointer;
            margin-bottom: 20px;

            @include d(m) {
                max-width: 300px;
            }
        }

        img {
            filter: brightness(.9);
            object-fit: cover;
        }

        h3 {
            position: absolute;
            padding: 0;
            margin: 0;
            color: $white;
            bottom: 70px;
            // @include center;
            // left: 0;
            // right: 0;
            font-family: $font-serif;
            font-size: 16px;
            letter-spacing: 3.2px;
            display: block;
            width: max-content;
            margin-left: 20px;
            margin-right: 20px;

            @include d(s) {
                font-size: 12px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        p {
            position: absolute;
            padding: 0;
            margin: 0;
            color: $white;
            bottom: 40px;
            // @include center;
            // left: 0;
            // right: 0;
            margin-left: 20px;
            margin-right: 20px;
            font-size: 14px;
            display: block;
            width: max-content;
            font-weight: 300;
            font-family: $font-mulish;

            @include d(s) {
                margin-left: 10px;
                margin-right: 10px;
                font-size: 12px;
            }
        }
    }

    .more {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 29px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: $font-claro;
        text-align: center;
        display: block;
        margin: 40px auto 60px;

        &:hover {
            text-decoration: underline;
        }

    }
}